
<div class="basic-graph">
	<canvas></canvas>
	
	<div class="graph-controls">
		<div class="button-controls">
			<div class="basic-controls">
				<button class="home-bt" aria-label="reset graph view">
					<img src="icons/home.png" alt="reset view icon" />
					<span class="tooltip">Reset view</span>
				</button>
				<button class="scale-bt" aria-label="change graph size">
					<img src="icons/scale.png" alt="graph size icon" />
					<span class="tooltip">Change graph size</span>
				</button>
			</div>
		</div>
	</div>
</div>