
<div class="editable-graph">
	<canvas></canvas>
	
	<div class="graph-controls">
		<div class="button-controls">
			<div>
				<button class="graph-mode" aria-label="change graph mode">
					<img />
					<span class="tooltip">Graph mode</span>
				</button>
				<button class="refs-align-bt" aria-label="toggle aligned bezier references">
					<img src="icons/alignedBezierRefs.png" alt="aligned bezier refs icon" />
					<span class="tooltip">Aligned handles</span>
				</button>
			</div>
			<div class="basic-controls">
				<button class="add-node-bt text-bt" aria-label="add point">
					+
					<span class="tooltip">Add point</span>
				</button>
				<button class="delete-node-bt text-bt" aria-label="delete selected point">
					-
					<span class="tooltip">Delete point</span>
				</button>
				<button class="reset-bt" aria-label="reset graph">
					<img src="icons/reset.png" alt="reset graph icon" />
					<span class="tooltip">Reset graph</span>
				</button>
				<button class="home-bt" aria-label="reset graph view">
					<img src="icons/home.png" alt="reset view icon" />
					<span class="tooltip">Reset view</span>
				</button>
				<button class="scale-bt" aria-label="change graph size">
					<img src="icons/scale.png" alt="graph size icon" />
					<span class="tooltip">Change graph size</span>
				</button>
			</div>
		</div>
		
		<div class="axis-controls">
			<div>
				<label>Axis X</label>
				<input class="axis-min-x" type="number" value="0" aria-label="X axis min value" />
				<span>-</span>
				<input class="axis-max-x" type="number" value="1" aria-label="X axis max value" />
			</div>
			
			<div>
				<label>Axis Y</label>
				<input class="axis-min-y" type="number" value="0" aria-label="Y axis min value" />
				<span>-</span>
				<input class="axis-max-y" type="number" value="1" aria-label="Y axis max value" />
			</div>
		</div>
	</div>
</div>