
<div class="editable-graph">
	<canvas></canvas>
	
	<div class="graph-controls">
		<div class="button-controls">
			<div>
				<button class="graph-mode">
					<img src="icons/linear.png" />
					<span class="tooltip">Graph mode</span>
				</button>
				<button class="refs-align-bt">
					<img src="icons/alignedBezierRefs.png" />
					<span class="tooltip">Aligned handles</span>
				</button>
			</div>
			<div class="basic-controls">
				<button class="add-node-bt text-bt">
					+
					<span class="tooltip">Add point</span>
				</button>
				<button class="delete-node-bt text-bt">
					-
					<span class="tooltip">Delete point</span>
				</button>
				<button class="reset-bt">
					<img src="icons/reset.png" />
					<span class="tooltip">Reset graph</span>
				</button>
				<button class="home-bt">
					<img src="icons/home.png" />
					<span class="tooltip">Reset view</span>
				</button>
				<button class="scale-bt">
					<img src="icons/scale.png" />
					<span class="tooltip">Change graph size</span>
				</button>
			</div>
		</div>
		
		<div class="axis-controls">
			<div>
				<label>Axis X</label>
				<input class="axis-min-x" type="number" value="0" name="" />
				<span>-</span>
				<input class="axis-max-x" type="number" value="1" name="" />
			</div>
			
			<div>
				<label>Axis Y</label>
				<input class="axis-min-y" type="number" value="0" name="" />
				<span>-</span>
				<input class="axis-max-y" type="number" value="1" name="" />
			</div>
		</div>
	</div>
</div>