*/build/
**/bin/
*/bin-win/
**/depends

engine/android/libs/
engine/android/obj/
engine/android/jni/src
engine/android/jni/include

configEditor/web/js/dreg/
configEditor/wasmEngineApi/include
configEditor/wasmEngineApi/dreg.bc

test/test
test/test.exe
test/dreg-debug.so
test/dreg-debug.dll
test/include/dreg

test/unit/testDreg
test/unit/dreg-debug.so
test/unit/dreg-debug.dll
test/unit/include/dreg

test/performance/dreg.so
test/performance/dreg.dll
test/performance/include/dreg
test/performance/testPerformance

tools/*.exe
tools/rm
tools/addDependPath