*/build/
*/bin/
*/depends

engine/android/libs/
engine/android/obj/
engine/android/jni/src
engine/android/jni/include

configEditor/web/js/driving-engine/
configEditor/wasmEngineApi/include
configEditor/wasmEngineApi/driving-engine.bc

test/test
test/test.exe
test/driving-engine.so

tools/*.exe
tools/rm
tools/addDependPath