*/build/
*/bin/
*/depends

engine/android/libs/
engine/android/obj/
engine/android/jni/src
engine/android/jni/include

configEditor/web/js/dreg/
configEditor/wasmEngineApi/include
configEditor/wasmEngineApi/dreg.bc

test/test
test/test.exe
test/dreg.so
test/include/dreg

tools/*.exe
tools/rm
tools/addDependPath