
@font-face {
	font-display: swap;
	font-family: 'Bitstream';
	font-weight: 400;
	src: url('fonts/ttf-bitstream-vera/Vera.ttf') format('truetype');
}

@font-face {
	font-display: swap;
	font-family: 'Bitstream';
	font-weight: 600;
	src: url('fonts/ttf-bitstream-vera/VeraBd.ttf') format('truetype');
}

body {
	font-family: 'Bitstream';
	font-weight: 400;
	background: #111111;
	color: white;
}

h1 {
	margin: 0.6em 1em;
}

textarea {
	white-space: pre;
	tab-size: 4;
}

button, select, summary {
	font-family: inherit;
	font-size: 1em;
	
	cursor: pointer;
	-webkit-user-select: none;
}

button, select {
	padding: 0.35em 0.6em;
	border-style: none;
	margin: 0.4em 0em;
	
	background: white;
}

button {
	transition: background 0.1s ease;
}

button:hover {
	background: #DCDCDC;
}

button:active {
	background: #BBBBBB;
}

details {
	margin: 0.8em 0em;
}

input[type=number] {
	background: #222222;
	color: white;
	text-align: left;
	
	display: inline-block;
	width: 4em;
	
	padding: 4px 7px;
	border-width: 0px;
	margin: 3px;
}

input[type=number].long-input {
	width: 8em;
}

::-webkit-scrollbar {
	background: #222222;
	width: 6px;
	height: 6px;
}

::-webkit-scrollbar-thumb {
	background: #CCCCCC;
}