@media only screen and (max-width: 900px) {
	#editor-config + div {
		flex-direction: column !important;
	}
}

#vehicle-config, #simulation {
	padding: 0.5em 0.5em 0.5em 1.5em;
	margin: 1.5em 0px;
}

#editor-config + div {
	display: flex;
	flex-direction: row;
}

#vehicle-config h2, #simulation h2 {
	padding: 0px;
	margin: 0px 0px 0.8em;
}

#vehicle-config {
	min-width: 400px;
}

#simulation {
	border-style: solid;
	border-width: 0px 0px 0px 1px;
	border-color: #666666;
}

#simulation-graphs {
	display: flex;
	flex-wrap: wrap;
}

.sim-graph {
	margin: 0.2em;
}

#config-textarea {
	width: 20em;
	height: 20em;
}

#load-log-file {
	margin: 1.5em;
}

#load-log-file > div:first-child {
	font-size: 1.4em;
	display: block;
	
	margin-bottom: 0.6em;
}

#loaded-log-filename {
	background: #4e4e4e;
	
	padding: 0.2em 0.5em;
	border-radius: 0.1em;
	margin: 0.5em;
}

#vehicleInputLog-input {
	display: none;
}

.input-block {
	display: block;
}

canvas {
	background: white;
	padding: 0px;
	margin: 0px;
}

.editable-graph {
	color: white;
	
	border-style: none;
	margin: 0em;
}